// main.scss

%page {
  /* desktops */
  @media (min-width: 1281px) {
    width: 960px;
    height: 500px;
  }

  /* laptops, desktops */
  @media (min-width: 1025px) and (max-width: 1280px) {
    width: 960px;
    height: 500px;
  }

  /* tablets */
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 640px;
    height: 500px;
  }

  /* tablets (landscape) */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    width: 768px;
    height: 425px;
  }

  /* tablets (small res), phones (landscape) */
  @media (min-width: 481px) and (max-width: 767px) {
    width: 480px;
    height: 400px;
  }

  /* phones */
  @media (min-width: 320px) and (max-width: 480px) {
    width: 320px;
    height: 300px;
  }
}

html {
  font-family: sans-serif;
  color: black;
}

body {
  margin: 0 auto;
  padding: 1rem;

  @extend %page
}

header {
  margin-top: 2rem;
  text-align: left;
  font-size: 1.5rem;
  display: flex;
}

main {
  margin-top: 2rem;
  text-align: left;
  font-size: 1rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
}

#header-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.header-social-link {
  font-size: 1rem;
}

#header-text {
  flex: 75%;
}

#header-image {
  border-radius: 10%;
  @media (min-width:480px) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  /* tablets (landscape) and above  */
  @media (min-width: 768px) {
    width: 192px;
    height: 192px;
  }

  /* tablets (small res), phones (landscape) */
  @media (min-width: 481px) and (max-width: 767px) {
    width: 160px;
    height: 160px;
  }

  /* phones */
  @media (min-width: 320px) and (max-width: 480px) {
    display: none;
  }
}

#mastofeed-container {
  text-align: center;
}

#mastofeed {
  @extend %page
}

dl.external-links {
  font-size: medium;

  display: grid;
  grid-template: auto / 45px 1fr;

  dt dd {
    margin: 0;
  }

  dt {
    font-weight: bold;
  }
}

nav {
  #nav-title {
    font-weight: bold;
  }

  text-align: center;

  /* tablets (landscape) and above */
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  /* tablets (small res), phones (landscape) */
  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 1.25rem;
  }

  /* phones */
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 1rem;
  }

  .nav-link {
    /* tablets (landscape) and above */
    @media (min-width: 768px) {
      font-size: 1.1rem;
    }

    /* tablets (small res), phones (landscape) */
    @media (min-width: 481px) and (max-width: 767px) {
      font-size: 1rem;
    }

    /* phones */
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 0.9rem;
    }
  }
}
