<br />

{{ $list := .Get 0 }}

{{ if eq $list "personal" }}

{{ partial "onlinePresenceLinks.html" .Site.Data.onlinePresence.contact }}

{{ else }}

{{ if eq $list "freelance" }}

{{ partial "onlinePresenceLinks.html" .Site.Data.onlinePresence.freelancing }}

{{ else }}

{{ if eq $list "online-profiles" }}

{{ partial "onlinePresenceLinks.html" .Site.Data.onlinePresence.profiles }}

{{ else }}

{{ if eq $list "others" }}

{{ partial "onlinePresenceLinks.html" .Site.Data.onlinePresence.others }}

{{ end }}

{{ end }}

{{ end }}

{{ end }}

<br />
